backend/node_modules/
backend/npm-debug.log
backend/yarn-error.log

frontend/node_modules/
frontend/npm-debug.log
frontend/yarn-error.log

mobile/node_modules/
mobile/npm-debug.log
mobile/yarn-error.log
